{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <h1 class="govuk-heading-l">{{ t('home:heading') }}</h1>

        {% if isDefraIdEnabled %}
          {% if authedUser and authedUser.displayName %}
            <div class="govuk-panel govuk-panel--confirmation" style="background-color: #f3f2f1; border: 2px solid #1d70b8;">
              <div class="govuk-panel__body" style="color: #0b0c0c;">
                {{ t('home:welcome', { name: authedUser.displayName }) | safe }}
              </div>
            </div>
            <p class="govuk-body">
              <a href="/logout" class="govuk-link">{{ t('home:signOut') }}</a>
            </p>
            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  {{ t('home:viewAccountDetails') }}
                </span>
              </summary>
              <div class="govuk-details__text">
                <dl class="govuk-summary-list">
                  {% for key, value in authedUser %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">{{ key }}</dt>
                      <dd class="govuk-summary-list__value"><code>{{ value }}</code></dd>
                    </div>
                  {% endfor %}
                </dl>
              </div>
            </details>
          {% else %}
            <p class="govuk-body">
              {{ t('home:welcomeGuest') }}
            </p>
            <p class="govuk-body">
              {{ t('home:signInPrompt') | safe }}
            </p>
          {% endif %}
        {% endif %}

        <h2 class="govuk-heading-m">{{ t('home:testHeading') }}</h2>
        <p>
          <a href="/organisations/123/registrations/456" class="govuk-link">{{ t('home:testRegistration') }}</a>
        </p>
      </div>
    </div>
  </div>

{% endblock %}
