{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-body" data-testid="app-page-body">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{ heading }}</h1>

        <p>We've found a potential match for your {{ entityName }}</p>
        <h2 class="govuk-heading-l">You currently represent</h2>
        <p>Name: {{ defraIdOrgName }} ({% if isCurrentOrganisationLinked %}linked{% else %}unlinked{% endif %})</p>
        {{ govukTable({
          firstCellIsHeader: true,
          head: [
            {
              text: "Name"
            },
            {
              text: "Action"
            }
          ],
          rows: otherRelationships
        }) }}

        {% if shouldShowTableOfUnlinkedOrganisations %}
          <h2 class="govuk-heading-l">{{ entityName | capitalize }} data not linked</h2>
          {{ govukTable({
            firstCellIsHeader: true,
            head: [
              {
                text: "Name"
              },
              {
                text: "Org ID"
              },
              {
                text: "System Reference Number"
              },
              {
                text: "Action"
              }
            ],
            rows: organisations
            }) }}
        {% elseif not isCurrentOrganisationLinked %}
          <h2 class="govuk-heading-l">{{ entityName | capitalize }} data not linked</h2>
          <p>Name: <strong>{{ organisation.name }}</strong></p>
          <p>Org ID: <strong>{{ organisation.orgId }}</strong></p>
          <p>System Reference Number: <strong>{{ organisation.id }}</strong></p>

          <div class="govuk-button-group">
            {{ govukButton({
              href: organisation.linkHref,
              text: "Link"
            }) }}
            <a href="{{ organisation.addHref }}" class="govuk-link">Add a new organisation</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
